<h1>States</h1>

<table>
 
  <tbody>
    <% @states.each do |state| %>
      <tr>
       
        
        <td><%= link_to state.name, admin_state_path(state) %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

